* {
  box-sizing: border-box; 
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	width: 100%;
	font-family: "helvetica neue";
	color: white;
	margin: 0;
}

body, 
.navigation, 
.section-one,
.group-linetwo,
.section-two,
.col-three-quarters,
.col-one-quarter-fuschia,
.section-three,
.col-one-third,
.purple,
.section-four,
.section-four-container {
	display: flex;
	flex-wrap: wrap;
}

.navigation,
.section-one,
.section-two,
.section-three,
.section-four {
	flex: 1 100%;
}

.navigation {
	background: #373c3f;
	justify-content: space-between;
	align-items: center;
}

.navigation-menu {
	background: #373c3f;
	display: none;
}

.navigation-menu-open {
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #202529;
	z-index: 4;
	border-left: 4px double white;
}

.nav-element {
	margin: 20px;
}

.hamburger {
	background: #202529;
	align-items: center;
	width: 12.5%;
	height: 100%;
	padding: 20px;
}

.hamburger-bar {
	width: 20px;
	height: 2px;
	margin-top: 2px;
	background: white;
}

.hamburger-bar:first-child {
	margin: 0;
}

.section-one {
	background: #0ea6bb;
	justify-content: flex-start;
	align-content: center;
	padding: 35px;
	padding-right: 70px;
}

.section-one h2 {
	margin-top: 5px;
	flex: 1 200px;
	text-align: left;
}

.section-two {
	justify-content: space-between;
	background: #27212c;
}


.section-four {
	background: #ebebeb;
	padding: 40px;
}

h1 {
	flex: 1 400px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

h2 {
	font-weight: 400;
	letter-spacing: 0.05em;
	font-size: 0.5rem;
	opacity: 0.5;
	margin: 0;
}

h3 {
	font-weight: 500;
	font-size: 1.25rem;
	color: #46a7b9;
	margin: 0;
}

h4 {
	font-size: 0.6em;
	font-weight: 400;
	padding-left: 20px;
}

p {
	margin: 0;
	margin-top: 10px;
	line-height: 1.5rem;
	color: #4c4c4c;
	font-weight: 400;
	font-size: .85rem;
}

.col-three-quarters {
	flex: 1 70px;
	justify-content: center;
	align-items: center;
}

.fuschia {
	background: #bc3183;
	padding: 30px;
}

.col-one-third {
	flex: 1 100%;
}

.purple, .bridge, .blonde-sweater {
	height: 275px;
	background-size: cover;
	flex: 1 100%;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.purple {
	background-color: #5b0fa1;	
}

.section-one .right-caret {
	margin-right: 25px;
	font-size: 0.5em;
}

.right-caret {
	font-size: 0.75rem;	
}

.purple .right-caret {
	font-size: 3rem;
}


.bridge {
	background-image: url("../img/bridge.png");
}

.blonde-sweater {
	background-image: url("../img/blonde-sweater.png");
}

@media screen and ( min-width: 630px ) {
	.navigation {
		font-size: 1.75rem;
	}

	.hamburger {
		width: 70px;
		padding: 25px;
	}
	
	.section-one {
		padding: 80px;
		padding-right: 160px;
	}

	h1 {
		font-size: 2rem;
		margin: 0;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 1.25rem;
	}

	h3 {
		font-size: 2rem;
		font-weight: 400;
	}

	.section-one .right-caret {
		font-size: 1rem;
	}
	
	.purple, .bridge, .blonde-sweater {
		height: 550px;
	}

	.fuschia {
		padding: 60px;
	}

	.fuschia .right-caret {
		font-size: 1.5rem;
	}

	.section-four {
		padding: 60px;
	}

	p {
		font-size: 1.25rem;
		margin-top: 40px;
		line-height: 2.5rem;
	}
}

@media screen and ( min-width: 980px ) {

	h1 {
		font-size: 3.5rem;
		margin-bottom: 30px;
		flex: 1 600px;
	}

	.section-one {
		padding: 200px 250px 200px 100px;
		padding-right: 250px;
	}

	.section-one h2 {
		flex: 1 600px;
	}

	.section-one .right-caret {
		font-size: 2rem;
	}

	h2 {
		font-size: 2rem;
	}

	.fuschia .right-caret {
		padding: 45px;
	}
	
	.section-three {
		flex-direction: row-reverse;
	}

	.col-one-third {
		flex: 1 33.33%;
		height: 320px;
	}

	.section-four {
		justify-content: space-between;
		flex-direction: column;
		padding: 80px;
		flex-wrap: wrap;
	}

	p {
		width: 450px;
		font-size: 1rem;
		line-height: 2rem;
		margin: 0;
	}

	h3 {
		font-size: 2.5rem;
	}

	.section-four-copy {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 400px;
	}

	.hamburger {
		display: none;
	}

	h4 {
		display: none;
	}

	.navigation-menu,
	.navigation-menu-open  {
		border: none;
		background: #373c3f;
		position: initial;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px;
		justify-content: flex-start;
	}

	.nav-element {
		font-size: 0.75rem;
		margin-left: 30px;
		font-weight: 300;
	}
}

@media screen and ( min-width: 1440px ) {
	h1 {
		flex: 1 900px;
		font-size: 4.5rem;
		margin-bottom: 40px;
	}

	.section-one .right-caret {
		font-size: 2.5rem;
	}

	.nav-element {
		padding: 20px;
		font-size: 1.25rem;
	}

	.section-one {
		padding: 300px 450px 300px 150px;
	}

	.fuschia {
		padding: 70px;
	}

	.col-one-third {
		height: 420px;
	}

	h2 {
		font-size: 2.5rem;
	}
}















